<div>
  <%= f.label :year, "Term Year" %><br>
  <%= f.text_field :year %><br>

  <%= f.label :semester, "Term Semester" %><br>
  <%= f.text_field :semester %><br>

  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Term" %><br>
</div>
<% tid.term_course.each do |tc| -%>
  <%= fields_for :term_course, tc do |builder| %>
    <%= render 'course_fields', :f => builder, :t => tid %>
  <% end %>
<% end -%>
<br>