<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>


<div id="accordion"> 
<% @plan.terms.each do |term| %>
  <h3><%=  term.semester %> <%=  term.year.to_s %></h3>      
  <div>
      <%term.courses.each do |course| %>
        <p> <%=course.name %> </p>
        <%term.courses.term_courses.each do |term_course| %>
          <p> <%=  term_course.course.name %> </p>
        <% end %>
      <% end %>
  </div>
        
<% end %>
</div>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
